html{
  font-size: 3vmin;
}
body{
  margin: 0;
  display: flex;
  height: 100vh;
}
#containerOfAllTheThings{
  height: 80vh;
  width: 65vw;
  margin: auto;
}
header{
  display: flex;
  background-color: red;
  height: 15%;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: 5vmin;
  margin: auto;
}
#contentContainer{
  display: flex;
  height: 85%;
}
aside{
  background-color: lightblue;
  width: 20%;
}
.stats{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.stats > *{
  margin: 10% 0%;
}
main{
  background-color: green;
  width: 80%;
}
#container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row{
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: 2% 0%;
}
.card{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0% 2%;
}
.front, .back, .cssLogo, .dockerLogo, .jsLogo, .nodeLogo, .reactLogo, .gitHubLogo, .htmlLogo, .phpLogo, .mySqlLogo{
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.back{
  background-image: url("../images/lfz-card.jpg");
}
/* .front{
  background-image: url("../images/js-logo.png");
} */
.cssLogo{
  background-image: url("../images/css-logo.png");
}
.dockerLogo{
  background-image: url("../images/docker-logo.jpg");
}
.gitHubLogo{
  background-image: url("../images/gitHub-logo.png");
}
.htmlLogo{
  background-image: url("../images/html-logo.png");
}
.jsLogo{
  background-image: url("../images/js-logo.png");
}
.phpLogo{
  background-image: url("../images/php-logo.jpeg");
}
.mySqlLogo{
  background-image: url("../images/mysql-logo.jpg");
}
.nodeLogo{
  background-image: url("../images/node-logo.png");
}
.reactLogo{
  background-image: url("../images/react-logo.png");
}
#modalResetStats{
  background-color: coral;
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  /* display: none; */
}
#resetStats{
  background-color: crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vmin;
  border-radius: 10px;
}
.hidden{
  display: none;
}
