*{
  box-sizing: border-box;
}
body, header, #contentContainer, .stats, ol#gamesPlayerNumber, ol#attemptsNumber, #container, .row{
  display: flex;
}
#modalResetStats, #startingModal, #startingMessage, header, aside, .front, .back{
  background-position: center;
  background-repeat: no-repeat;
}
body, #startingModal, aside{
  background-size: cover;
}
li:nth-child(5n), #startingModal, #startingMessage, .card{
  position: relative;
}
#modalResetStats, #startingMessage, header, .front, .back{
  background-size: contain;
}
#resetStats, #victoryMessage, .front, .back, #acceptQuest, #startingMessageText{
  position: absolute;
}
.front, .back, .card, #container, .stats, #startingModal, .row{
  height: 100%;
}
#resetStats, #victoryMessage, #modalResetStats, #acceptQuest, #startingMessageText{
  transform: translate(-50%, -50%);
}
#startingModal, header, .stats, ol#gamesPlayedNumber, ol#attemptsNumber, #modalResetStats{
  text-align: center;
}
body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-position: top;
  background-color: black;
  color: black;
}
#startingModal{
  width: 100%;
  background-image: url("../images/Customized_IMG/Tw2_noticeboard.png");
  font-family: 'Bilbo Swash Caps';
  font-size: 4vmin;
}
#startingMessage{
  left: 69%;
  top: 10%;
  height: 80%;
  width: 24%;
  background-image: url("../images/Customized_IMG/Modal.png");
}
#startingMessageText{
  width: 69%;
  top: 34%;
  left: 50%;
}
#acceptQuest{
  top: 69%;
  left: 50%;
}
#acceptQuest:hover{
  cursor: pointer;
}
#containerOfAllTheThings{
  height: 90vh;
  width: 80vw;
  margin: 0 auto auto auto;
}
header{
  height: 20%;
  background-image: url("../images/Customized_IMG/banner.png");
  justify-content: center;
}
.title{
  font-size: 4vmin;
  margin: auto;
  margin-top: 4%;
  text-transform: uppercase;
  font-family: 'Caesar Dressing';
}
.title > p{
  font-size: 2vmin;
  margin: 0;
}
#contentContainer{
  height: 85%;
}
aside{
  width: 30%;
  background-image: url("../images/Customized_IMG/StatsBG.png");
}
.stats{
  margin: 0% 10%;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: middle;
  line-height: 250%;
  font-family: 'Spirax';
  font-size: 4vmin;
}
ol#gamesPlayedNumber {
  height: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}
ol#attemptsNumber {
  flex-wrap: wrap;
  height: 20px;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  height: 20px;
  border: 1px solid #000;
  margin-right: 4px;
}
li:nth-child(5n) {
  transform: rotate(300deg);
  height: 30px;
  left: -15px;
  top: 5px;
  margin-right: .5em;
  margin-top: -10px;
}
main{
  width: 80%;
}
#container{
  flex-direction: column;
}
.row{
  flex-direction: row;
  justify-content: space-between;
  margin: .5% 0%;
  perspective: 1000px;
}
.card{
  display: inline-block;
  width: 10rem;
  margin: 0% .5%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.front, .back{
  width: 100%;
  backface-visibility: hidden;
}
.back{
  border-radius: 5px;
}
.front{
  transform: rotateY(-180deg);
}
.clicked{
  transform: rotateY(180deg);
}
#modalResetStats{
  background-image: url("../images/Customized_IMG/Modal.png");
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 75%;
  top: 58%;
  left: 50%;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  font-family: 'Bilbo Swash Caps';
  font-size: 4vmin;
}
#victoryMessage{
  width: 71%;
  top: 34%;
  left: 50%;
}
#resetStats{
  top: 69%;
  left: 50%;
}
#resetStats:hover{
  cursor: pointer;
}
.elemental{
  background-image: url("../images/Customized_IMG/elemental.png");
}
.emhyr{
  background-image: url("../images/Customized_IMG/emhyr.png");
}
.gaunterODimm{
  background-image: url("../images/Customized_IMG/Gaunter_O_Dim.png");
}
.geralt{
  background-image: url("../images/Customized_IMG/geralt.png");
}
.golem{
  background-image: url("../images/Customized_IMG/golem.png");
}
.knightDragon{
  background-image: url("../images/Customized_IMG/knight_dragon.png");
}
.radovid{
  background-image: url("../images/Customized_IMG/radovid.png");
}
.redanianKnight{
  background-image: url("../images/Customized_IMG/redanian_knight.png");
}
.troll{
  background-image: url("../images/Customized_IMG/troll.png");
}
.inn{
  background-image: url("../images/Customized_IMG/Gwent-BirdsEye.jpg");
}
.startingBack{
  background-image: url("../images/Customized_IMG/basic_card_back.png");
}
.northernKingdoms{
  background-image: url("../images/Customized_IMG/nk.jpg");
}
.northernBack{
  background-image: url("../images/Customized_IMG/northern_kingdoms_card_back.png");
}
.forest{
  background-image: url("../images/Customized_IMG/The-Witcher-3-forest-sun-rays_2880x1800.jpg");
}
.forestBack{
  background-image: url("../images/Customized_IMG/scoiatel_card_back.png");
}
.nilfgaard{
  background-image: url("../images/Customized_IMG/nilfgard.png");
}
.nilfgaardBack{
  background-image: url("../images/Customized_IMG/nilfgard_card_back.png");
}
.skellige{
  background-image: url("../images/Customized_IMG/Skellige.jpg");
}
.skelligeBack{
  background-image: url("../images/Customized_IMG/skellige_card_back.png");
}
.monsters{
  background-image: url("../images/Customized_IMG/90360c794537a8df67702a41af36e6e9.jpg");
}
.monstersBack{
  background-image: url("../images/Customized_IMG/monsters_card_back.png");
}
.hiddenModal{
  display: none;
}
