*{
  box-sizing: border-box;
}
body, header, #card-and-stats-container, #stats, ol#gamesPlayerNumber, ol#attempts-number, #game-container, .row{
  display: flex;
}
#modal-reset-stats, #starting-modal, #starting-message, header, aside, .front, .back{
  background-position: center;
  background-repeat: no-repeat;
}
body, #starting-modal, aside{
  background-size: cover;
}
li:nth-child(5n), #starting-modal, #starting-message, .card{
  position: relative;
}
#modal-reset-stats, #starting-message, header, .front, .back{
  background-size: contain;
}
#reset-stats, #victory-message, .front, .back, #accept-quest, #starting-message-text{
  position: absolute;
}
.front, .back, .card, #game-container, #stats, #starting-modal, .row{
  height: 100%;
}
#reset-stats, #victory-message, #modal-reset-stats, #accept-quest, #starting-message-text{
  transform: translate(-50%, -50%);
}
#starting-modal, header, #stats, ol#games-played-number, ol#attempts-number, #modal-reset-stats{
  text-align: center;
}
body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-position: top;
  background-color: black;
  color: black;
}
#starting-modal{
  width: 100%;
  background-image: url("../images/Customized_IMG/Tw2_noticeboard.png");
  font-family: 'Bilbo Swash Caps';
  font-size: 4vmin;
}
#starting-message{
  left: 69%;
  top: 10%;
  height: 80%;
  width: 24%;
  background-image: url("../images/Customized_IMG/Modal.png");
}
#starting-message-text{
  width: 69%;
  top: 34%;
  left: 50%;
}
#accept-quest{
  top: 69%;
  left: 50%;
}
#accept-quest:hover{
  cursor: pointer;
}
#content-container{
  height: 90vh;
  width: 80vw;
  margin: 0 auto auto auto;
}
header{
  height: 20%;
  background-image: url("../images/Customized_IMG/banner.png");
  justify-content: center;
}
#title{
  font-size: 4vmin;
  margin: auto;
  margin-top: 4%;
  text-transform: uppercase;
  font-family: 'Caesar Dressing';
}
#title > p{
  font-size: 2vmin;
  margin: 0;
}
#card-and-stats-container{
  height: 85%;
}
aside{
  width: 30%;
  background-image: url("../images/Customized_IMG/StatsBG.png");
}
#stats{
  margin: 0% 10%;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: middle;
  line-height: 250%;
  font-family: 'Spirax';
  font-size: 4vmin;
}
ol#games-played-number {
  height: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}
ol#attempts-number {
  flex-wrap: wrap;
  height: 20px;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  height: 20px;
  border: 1px solid #000;
  margin-right: 4px;
}
li:nth-child(5n) {
  transform: rotate(300deg);
  height: 30px;
  left: -15px;
  top: 5px;
  margin-right: .5em;
  margin-top: -10px;
}
main{
  width: 80%;
}
#game-container{
  flex-direction: column;
}
.row{
  flex-direction: row;
  justify-content: space-between;
  margin: .5% 0%;
  perspective: 1000px;
}
.card{
  display: inline-block;
  width: 10rem;
  margin: 0% .5%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.front, .back{
  width: 100%;
  backface-visibility: hidden;
}
.back{
  border-radius: 5px;
}
.front{
  transform: rotateY(-180deg);
}
.clicked{
  transform: rotateY(180deg);
}
#modal-reset-stats{
  background-image: url("../images/Customized_IMG/Modal.png");
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 75%;
  top: 58%;
  left: 50%;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  font-family: 'Bilbo Swash Caps';
  font-size: 4vmin;
}
#victory-message{
  width: 71%;
  top: 34%;
  left: 50%;
}
#reset-stats{
  top: 69%;
  left: 50%;
}
#reset-stats:hover{
  cursor: pointer;
}
.elemental{
  background-image: url("../images/Customized_IMG/elemental.png");
}
.emhyr{
  background-image: url("../images/Customized_IMG/emhyr.png");
}
.gaunter-o-dimm{
  background-image: url("../images/Customized_IMG/Gaunter_O_Dim.png");
}
.geralt{
  background-image: url("../images/Customized_IMG/geralt.png");
}
.golem{
  background-image: url("../images/Customized_IMG/golem.png");
}
.knight-dragon{
  background-image: url("../images/Customized_IMG/knight_dragon.png");
}
.radovid{
  background-image: url("../images/Customized_IMG/radovid.png");
}
.redanian-knight{
  background-image: url("../images/Customized_IMG/redanian_knight.png");
}
.troll{
  background-image: url("../images/Customized_IMG/troll.png");
}
.inn{
  background-image: url("../images/Customized_IMG/Gwent-BirdsEye.jpg");
}
.starting-back{
  background-image: url("../images/Customized_IMG/basic_card_back.png");
}
.northern-kingdoms{
  background-image: url("../images/Customized_IMG/nk.jpg");
}
.northern-back{
  background-image: url("../images/Customized_IMG/northern_kingdoms_card_back.png");
}
.forest{
  background-image: url("../images/Customized_IMG/The-Witcher-3-forest-sun-rays_2880x1800.jpg");
}
.forest-back{
  background-image: url("../images/Customized_IMG/scoiatel_card_back.png");
}
.nilfgaard{
  background-image: url("../images/Customized_IMG/nilfgard.png");
}
.nilfgaard-back{
  background-image: url("../images/Customized_IMG/nilfgard_card_back.png");
}
.skellige{
  background-image: url("../images/Customized_IMG/Skellige.jpg");
}
.skellige-back{
  background-image: url("../images/Customized_IMG/skellige_card_back.png");
}
.monsters{
  background-image: url("../images/Customized_IMG/90360c794537a8df67702a41af36e6e9.jpg");
}
.monsters-back{
  background-image: url("../images/Customized_IMG/monsters_card_back.png");
}
.hidden-modal{
  display: none;
}
